@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
        <div class="row head_page">
            <div class="col-3">
                <img class="logo" src="" />
            </div>
            <div class="col-9"><span class="title">Lập trình Web ASP.Net MVC Dotnet Core</span> </div>
        </div>
    </div>
}
