@model List<MVC_Core_Quan_Ly_Trung_Tam_TA.Models.GiangVienModels>

<div class="container">
    <div class="row list_container">
        <div class="title col-12">Danh sách giảng viên </div>
        <div>Tìm theo mã giảng viên :  </div>
        <div class="data_grid col-12">
            <table>
                <tr>
                    <th>Mã GV</th>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                </tr>
                @{
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaGV</td>
                                <td>@item.TenGV</td>
                                <td>@item.Ngaysinh.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.Diachi</td>
                            </tr>
                        }
                    }

                }
            </table>
        </div>

    </div>
</div>